<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VRP Request</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jsoneditor/9.1.8/jsoneditor.min.css" rel="stylesheet" type="text/css">
    <style>
        .row {
            display: flex;
        }
        .col {
            flex: 1;
        }
        #json-editor ,#json-editor-response{
            height: 500px;
        }
    </style>
</head>
<body>
<div class="row">
    <div class="col">
        <h1>VRP Request Details</h1>
        <div id="json-editor"></div>
        <p>
            <a href="/">Back</a>
        </p>
    </div>
    <div class="col">
        <h1>VRP Response Details</h1>
        <div id="json-editor-response"></div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jsoneditor/9.1.8/jsoneditor.min.js"></script>
<script>
   
</script>
</body>
</html>
